@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: #11141a;
    /*display: flex;*/
    justify-content: space-between;
    text-align: center;
    z-index: 100;
}
.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
nav.mainmenu a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 150px;
    transition: .3s;
}
nav a:hover,
nav a.active {
    color: #0ef;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: #1f242d;
    font-size: 25px;
    color: #fff;
}

table{
    margin-left: 300px;
    font-size: larger;
    color: #0ef;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 1000px;
    padding: 5px;
    width: 80px;
  }

input {
    background-color: #003366; 
    border: none;
    color: rgb(255, 255, 255);
    margin-left: 300px;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 8px;
}

section:nth-child(odd) {
    background: #323946;
}
.responsivemenu{

    display: none;
}

.mainmenu{

    display: block;
}

.container{

    width: 90%;
    margin: auto;
}

#home .block {
    padding-left: 90px;
}

#home .block h1 {

    color: #0ef;
}

#home .block h5 {
    font-size: 12px;
    color: white;
    font-style: normal;
    text-size-adjust: 20px;
}

#about .block h2{
    color: #0ef;
    margin-left: 20px;
}

#about .block ul{
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#about.block .icon{

    background-color: #ddd;
}

#exp .block h2{
    color: #0ef;
}

#exp .block p{
    font-size: 12px;
}

#exp .block h3{
    color: rgb(199, 186, 186);
}

#contact .block h2{
    color: #0ef;
    text-align: center;
}

/* Responsive css */
@media screen and (max-width: 920px) {

    #home .block {

        padding-left: 20px;
    }

    .dropdown-item{
        color: white;
    }

    header {
      
        text-align: right;
    }

    .container{

        width: 95%;
        margin: auto;
    }
      
    .responsivemenu{

        display: block;
    }
    
    .mainmenu{
    
        display: none;
    }
    
  }